.input-group-text {
    height: 100%;
    background-color: white;
}

.fa-search {
    color:gray;
}

.search-form{
    min-width: 430px;
    padding-right: 20px;
    padding-left: 20px;
}

.right-nav{
    align-items: center;
}

.user-profile{
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user-profile2{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-image{
    max-width: 40px;
    max-height: 50%;
    margin-top: auto;
    padding-right: 10px;
}

.profile-image2{
    max-width: 100px;
    max-height: 50%;
    margin-top: auto;
    padding-right: 10px;
}

.i-nav{
    text-transform: capitalize;
    font-size: small;
    color: grey;
    font-variant: normal;
    padding-right: 10px;
    padding-left: 10px;
}

section{
    padding-top: 70px;
}

.jumbotron{
    background-color: #80c465 !important; 
    color: white;
    text-align: center;
    min-height: 250px;
    justify-content: center;
    vertical-align: middle;
}

.jumbo-h1{
    background-color: #80c465 !important;
    line-height: 250px;
}

.float-right{
    float: right;
}

.main-body{
    padding-top: 10px;
    padding-bottom: 50px;
}

.dropdown-divider{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-height: 10px;
}

.row-explorer{
    height: fit-content;
    min-height: 330px;
    padding-top: 30px;
}

.space-eater{
    height: 150px;
}

.card-details{
    
}

footer{
    margin-top: 60px;
    height: 50px;
    text-align: center;
    vertical-align: middle;   
    color: grey;
}

.link-dark{
    text-decoration: none;
    font-size: smaller;
}

.footer-div{
    padding-top: 10px;
}

.card-title{
    text-align: center;
}

a.tags{
    color: #13b15c;
    text-decoration: none;
}

a.title-link{
    text-decoration: none;
    color: black;
}
a.title-link:hover{
    color: #13b15c;
}

.challenge-mid{
    padding: 40px 15px; 
    height:33%; 
    background-color: #e1f8e4; 
    text-align: center; 
    font-weight: bold; 
    font-size: larger;
}

.challenge-top{
    padding: 40px 15px; 
    height:33%; 
    text-align: left; 
    font-weight: bold; 
    font-size: larger;
    color: #80c465;
}

.lab-mid{
    padding: 40px 15px; 
    height:33%; 
    background-color: #cfeafa; 
    text-align: center; 
    font-weight: bold; 
    font-size: larger;
}

.lab-top{
    padding: 40px 15px; 
    height:33%; 
    text-align: left; 
    font-weight: bold; 
    font-size: larger;
    color: #398add;
}

.project-mid{
    padding: 40px 15px; 
    height:33%; 
    background-color: #ffe3d3; 
    text-align: center; 
    font-weight: bold; 
    font-size: larger;
}

.project-top{
    padding: 40px 15px; 
    height:33%; 
    text-align: left; 
    font-weight: bold; 
    font-size: larger;
    color: #fa9358;
}

.card-pic{
    margin-bottom: 30px;
}

.recommended{
    margin-left: 10px;
}

.dash-drop{
    position: relative;
    display: inline-block;
    height: max-content;
}
.dash-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 170px;
    min-height: 35px;
    z-index: 1;
    border: black;
}

.dash-drop:hover .dash-content {
    display: block;
}

.man-drop{
    position: relative;
    display: inline-block;
    height: max-content;
}
.man-content{
    display: none;
    position: absolute;
    background-color: white;
    max-width: 100px;
    min-height: 35px;
    z-index: 1;
    border: black;
}

.man-drop:hover .man-content {
    display: block;
}

div.active, .active a:link, .active a:visited{
    background-color: whitesmoke;
    color: #13b15c;
}

div.inactive:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 5px 5px #888888;
    z-index: 3;
}

body.dark, .dark * {
    background-color: #333;
    color: white;
    border-color: white;
}

.mode{
    height: 24px;
    white-space:nowrap;
}

.nav-item:hover{
    background-color: whitesmoke;
}

.side-bar{
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    top: 55px;
    left: 0;
    border-right: black;
    width: 0;
    text-align: center;
    justify-content: center;
    height: 100%;
    
}

.side-bar-open{
    width: 250px;
}

.side-ul{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin-left: -30px;
}

.profile-nav{
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    top: 55px;
    right: 0;
    border-right: black;
    height: 0px;
    width: 250px;
}

.side-ul2{
    list-style-type: none;
    text-align: left;
    justify-content: left;
    margin-left: -30px;
}

.profile-nav-open{
    height: fit-content;
}

.bg-ws{
    background-color: whitesmoke;
}

.acsb-toggle{
    z-index: 2;
    background-color: #13b15c;
    position: fixed;
    right: 0;
    top: 100px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
} .acsb-toggle:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.acsb-img{
    width: 70%;
    height: 70%;
    padding-top: 10px;
}
.acsb-menu{
    /* display: none; */
    z-index: 5;
    position: fixed;
    top: 60px;
    left: 30px;
    width: 550px;
    max-width: 550px;
    height: 930px;
    overflow-y: scroll;
}

.acsb-bar{
    background-color: #0e8422;
    position: fixed;
    height: 40px;
    width: inherit;
}

.acsb-icons{
    color:white;
    font-size: larger;
    vertical-align: middle;
    margin-right: 5px;
} .acsb-icons:hover{
    transform: scale(1.1) !important;
}

.acsb-lang{
    margin-right: 10px;
}

.acsb-round-btn{
    background-color: white;
    color: #0e8422;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: small;
    text-decoration: none;
} 
.acsb-round-btn:hover{
    color: #0e8422;
    transform: scale(1.1) !important;
}

.hover{
    margin-left: 10px;
    margin-right: 10px;
}
.hover:hover{
    transform: scale(1.1) !important;
}

.acsb-toggle-off{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px #888888;
    font-weight: bold;
    margin-left: -28px;
}

.acsb-toggle-on{
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 28px;
    padding-left: 25px;
    background-color: #f2f7fa;
    font-weight: bold;
    margin-left: 10px;
    text-align: right;
    margin-right: 20px;
    color: black !important;
}

.profiles{
    margin-top: -15px;
}

.profile-icons{
    width: 30px;
    height: 30px;
    font-size: x-large;
    color: black;
} 
.profile-hover{
    padding-bottom: 20px; 
    margin-top: 35px
}
.profile-hover:hover, .profile-hover:hover a , .profile-hover:hover i{
    color: #0e8422 !important;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.acsb-main{
    background-color: #f2f7fa;
    text-align: center;
    height: 120px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

a.acsb-main-icons{
    background-color: #109326;
    width: 30px;
    height: 30px;
}
i.acsb-main-icons{
    color:white;
    width: 30px;
    height: 30px;
} a.acsb-main-icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.default-span{
    background-color: #dae8fe;
    color: #109326;
    width: 210px;
    border-radius: 10px;
}

.acsb-main-btn {
    background-color: #f2f7fa;
    text-align: center;
    height: 120px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
} 
.acsb-main-btn:hover{
    border-style: solid;
    border-width: 3px;
    border-color: #109326 !important;
    cursor: pointer;
}

.color-picker{
    width: 23px;
    height: 23px;
    margin-left: 5px;
}
